/*Fontit*/
body {
  background-color: rgba(241, 135, 187, 0.8);
}
* {
  font-family: "Roboto", sans-serif;
}
a {
  font-family: "Roboto Flex", sans-serif;
}
p {
  font-family: "Montserrat", sans-serif;
}
/* taustan väri */
.navbar-custom {
  background-color: rgba(137, 17, 76, 0.9);
}
/* brandin ja tekstin väri */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(241, 135, 187, 0.8);
}
/* linkin väri */
.navbar-custom .navbar-nav .nav-link {
  color: rgba(241, 135, 187, 0.8);
}
/* aktiivisen & hover-linkin väri */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
  border-color: rgba(255, 102, 203, 0.5);
}
.carousel-inner img {
  width: 100px; /* Set width to 100% */
  opacity: cover;
  margin: auto;
  min-height: 200px;
}
#demo {
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-top: 100px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
#ravintola {
  padding-top: 70px;
  text-align: center;
}
#ravintola img {
  width: 100%;
  max-width: 500px;
  border-radius: 30%;
}
.nav-link.active {
  color: white !important;
}
body {
  position: relative;
}
.text-justify{
  text-align: center;
}
.col img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.accordion-body{
  background-color: aliceblue;
}
.accordion{
  margin-top: 50px;
}
.card-group{
  margin-top: 50px;
}
.nav-pills {
  margin-top: 50px;
  margin-left: 50px;
}
.tab-content {
  width: 60%;
}
.table {
  margin-top: 30px;
  background-color: #ffffff;
}
.tab-content{
  display: block;
  margin: 0 auto;
}